@charset "ISO-8859-1";
body{
	margin:0;
	align-items:center;
	background-color:lightgreen;
	justify-content:center;
	height:100vh;
	background-image:url('background.jpg');
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	display:flex;
	flex-direction:column;
}
.container{
	width:80%;
	max-width:400px;
	padding:20px;
	border-radius:10px;
	box-shadow:0 0 10px rgba(0 ,0, 1, 0.5);
	background-color:white;
	text-align:center;
}
h1{
	font-weight:bold;
	text-align:center;
	color:#333;
}
label{
	display:block;
	margin:10px 0;
	color:#555;
}
input{
	width:100%;
	padding:10px;
	margin-bottom:15px;
	box-sizing:border-box;
	border:1px solid #ccc;
	border-radius:5px;
	font-size:15px;
}
input:hover{
	cursor:pointer;

}
button{
	width:100%;
	padding:12px;
	cursor:pointer;
	background-color:#007BFF;
	color:#fff;
	border:none;
	border-radius:5px;
	font-size:16px;
	
}
button:hover{
	font-weight:bold;
	text-transform:uppercase;
	background-color:green;
	
}
p a{
	text-decoration:none;
}
p:hover{
	font-weight:bold;	
	
}